.navbar-lewagon {
  background-color: transparent;
  transition: 0.5s background-color ease;
  padding: 1.1rem 0;

  .logo-link {
    color: white;
    font-family: $headers-font;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
   img {
    width: 50px;
    margin-right: 1rem;
   }
  }
}

.navbar-lewagon-white {
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
